<html>
  <head>
    <title>
      Chat
    </title>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/room.css">
  </head>
  <body>
    <br>
    <div class="row">      
      <div class="col-sm-3"> </div>
      <div class="col-sm-6">
	<div class="row" align="center">
	  <div class="col-sm-3">
	    <p> Room : {{ roomTitle }} </p>
	  </div>
	  <div class="col-sm-2">
	    <button class="btn btn-default" id="lobby-button">Lobby</button>
	  </div>
	  <div class="col-sm-7">
	    <form class="form-inline" id="storm-form">
	      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="storm-root-text" placeholder="Storm Root">
	      <button type="button" class="btn btn-default disabled" id="phase-button">Start Storming</button>
	    </form>
	  </div>
	</div>
	<div id="main-container" align="center">
	  <!--pre-storm-->	  
	  <div id="chat-container">
	    <textarea class="text" id="chat-log" readonly></textarea>
	    <br>
	    <form id="chat-form">
              <input class="text" id="chat-text" type="text" name="message"><input class="button" id="chat-button" type="submit" name="submit" value="Send">
	    </form>
	  </div>
	  <!--storm-->	  
	  <div id="prompt-container">
	    <div class="row">
	      
	      <div class="card" align="center" id="prompt-card">
		<ul class="list-group list-group-flush">
		  <!--<li class="list-group-item">Vestibulum at eros</li>-->
		</ul>
		<div class="card-block" id="prompt-text">
		  Ideate!
		</div>
	      </div>

	      <br>
	      <div class="row">		
		<form id="prompt-form" align="center">
		  <input class="text" id="storm-text-input" type="text" name="message">
		  <input class="btn btn-default" id="submit-storm-idea" type="submit" name="submit" value="Send Idea">
		  <input class="btn btn-warning" id="scramble-storm" type="submit" name="scramble" value="Scramble!">
		</form>	  
	      </div>
	    </div>
	  </div>
	  <!--poststorm-->
	  <div id="storm-res-container">
	    <div class="row">	      
	      <div class="card" align="center" id="storm-res-card"> <!-- fix -->
		<div class="card-block" id="storm-res-text">
		  Storm session over (under construction).
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class = "col-sm-3"></div>
    </div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/socket.io.min.js"></script>
    <script type="text/javascript" src="/static/js/room.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

</html>
